In [40]:
import numpy as np
import pandas as pd
from sklearn import linear_model
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')
house_prices_df = pd.read_csv("house_prices_train.csv")
house_prices_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

Önemli olabilecek feature'lar;

-YearBuilt: Original construction date (orijinal yapım tarihi)

-LotArea: Lot size in square feet (arsa büyüklüğü)

-Heating: Type of heating (ısıtma türü)

-Bedroom: Number of bedrooms above basement level (yatak odası sayısı)

-TotRmsAbvGrd: Total rooms above grade (does not include bathrooms) (toplam oda sayısı)

-FullBath: Full bathrooms above grade (tam banyolar)

-HalfBath: Half baths above grade (yarım banyolar)

-GarageCars: Size of garage in car capacity (garajın araç kapasitesi)

-SalePrice - the property's sale price in dollars. This is the target variable that you're trying to predict.

In [41]:
new_features = house_prices_df[["YearBuilt","LotArea","TotRmsAbvGrd","FullBath","HalfBath","GarageCars","SalePrice"]]

In [42]:
new_features

,YearBuilt,LotArea,TotRmsAbvGrd,FullBath,HalfBath,GarageCars,SalePrice
0,2003,8450,8,2,1,2,208500
1,1976,9600,6,2,0,2,181500
2,2001,11250,6,2,1,2,223500
3,1915,9550,7,1,0,3,140000
4,2000,14260,9,2,1,3,250000
...,...,...,...,...,...,...,...
1455,1999,7917,7,2,1,2,175000
1456,1978,13175,7,2,0,2,210000
1457,1941,9042,9,2,0,1,266500
1458,1950,9717,5,1,0,1,142125
1459,1965,9937,6,1,1,1,147500

In [43]:
Y = new_features['SalePrice']
X = new_features[['YearBuilt','LotArea','TotRmsAbvGrd','FullBath','HalfBath','GarageCars']]

In [44]:
lrm = linear_model.LinearRegression()
lrm.fit(X, Y)

LinearRegression()

In [45]:
print('Değişkenler: \n', lrm.coef_)
print('Sabit değer (bias): \n', lrm.intercept_)

Değişkenler:
 [7.17413177e+02 1.12660395e+00 1.48897867e+04 1.39369713e+04
 4.78554905e+03 3.28889479e+04]
Sabit değer (bias):
 -1423952.7948494141

In [46]:
import statsmodels.api as sm

X = sm.add_constant(X)
results = sm.OLS(Y, X).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              SalePrice   R-squared:                       0.603
Model:                            OLS   Adj. R-squared:                  0.602
Method:                 Least Squares   F-statistic:                     368.6
Date:                Thu, 02 Dec 2021   Prob (F-statistic):          1.31e-287
Time:                        16:43:48   Log-Likelihood:                -17869.
No. Observations:                1460   AIC:                         3.575e+04
Df Residuals:                    1453   BIC:                         3.579e+04
Df Model:                           6
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const        -1.424e+06   1.15e+05    -12.430      0.000   -1.65e+06    -1.2e+06
YearBuilt      717.4132     58.854     12.190      0.000     601.965     832.862
LotArea          1.1266      0.135      8.344      0.000       0.862       1.391
TotRmsAbvGrd  1.489e+04   1119.650     13.299      0.000    1.27e+04    1.71e+04
FullBath      1.394e+04   3406.525      4.091      0.000    7254.738    2.06e+04
HalfBath      4785.5491   2923.941      1.637      0.102    -950.048    1.05e+04
GarageCars    3.289e+04   2268.866     14.496      0.000    2.84e+04    3.73e+04
==============================================================================
Omnibus:                      644.646   Durbin-Watson:                   1.984
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7330.037
Skew:                           1.745   Prob(JB):                         0.00
Kurtosis:                      13.408   Cond. No.                     1.27e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.27e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

R-squared değeri yüzde 60 çıktı. Yani ortalama bir tahmin yaptık bu feature'larla. Seçtiğimiz feature'lardan halfbath hariç hepsi fiyatı etkileyen unsurlarmış. 

Adj. R-squared değerinin de düşük çıkmasının sebebi, feature'larımızda korele olan değerler var demek.